body {
  font-family: "Archivo";
  font-style: normal;
}

.loader {
  /* Set loader styles */
  width: 14rem;
  height: 17rem;
  background-image: linear-gradient(
    90deg,
    #cee8ef 0%,
    #e4f1f6 50%,
    #cee8ef 100%
  );
  background-color: #cee8ef;
  background-size: 200%;
  animation: shimmer 1.2s ease-in-out infinite;

  &.text_h6 {
    width: 12rem;
    height: 0.75rem;
  }
  &.text_small {
    width: 5rem;
    height: 0.6rem;
  }
}

@keyframes shimmer {
  0% {
    background-position: -200%;
  }
  100% {
    background-position: 200%;
  }
}

svg {
  margin-bottom: 0.2rem;
  margin-right: 0.2rem;
}

.cursor-pointer {
  cursor: pointer;
}

.bg_dark {
  background-color: #1b1f32;
}

a {
  text-decoration: none;
}

// For slide-fade-down:

.slide-fade-down-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-down-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-down-enter-from,
.slide-fade-down-leave-to {
  transform: translateY(-20px);
  opacity: 0;
}

div.coming_soon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
  div.loading_dots {
    position: relative;
    left: -9999px;
    width: 7px;
    height: 7px;
    border-radius: 7px;
    background-color: #f0f0f0;
    color: #f0f0f0;
    box-shadow: 9984px 0 0 0 #f0f0f0, 9999px 0 0 0 #f0f0f0,
      10014px 0 0 0 #f0f0f0;
    animation: dot-carousel 1.5s infinite linear;
  }

  @keyframes dot-carousel {
    0% {
      box-shadow: 9984px 0 0 -1px #f0f0f0, 9999px 0 0 1px #f0f0f0,
        10014px 0 0 -1px #f0f0f0;
    }
    50% {
      box-shadow: 10014px 0 0 -1px #f0f0f0, 9984px 0 0 -1px #f0f0f0,
        9999px 0 0 1px #f0f0f0;
    }
    100% {
      box-shadow: 9999px 0 0 1px #f0f0f0, 10014px 0 0 -1px #f0f0f0,
        9984px 0 0 -1px #f0f0f0;
    }
  }
}
